<div class="login-container">
    <div class="login-card">
      <!-- Left Section with Image -->
      <div class="login-image">
        <img
          src="../../assets/login.svg"
          alt="Beach" />
      </div>
  
      <!-- Right Section with Form -->
      <div class="login-form">
        <h1>MASUK KE AKUN</h1>
        <!-- <h2>Ready for your next adventure? Log in to discover new destinations, exclusive deals, and plan your perfect getaway. Let's make your travel dreams come true!</h2> -->
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
  
        <div class="login-actions">
          <p>Belum punya akun?</p><a href="#">&nbsp;<b>Daftar dulu.</b></a>
        </div>

        <div class="login-actions">

            <button type="button">Masuk</button>
        </div>
      </div>
    </div>
  </div>
  