<form [formGroup]="uploadForm">
  <div class="modal-body">
    <h4 class="modal-title text-center">Galeri</h4>
    <p class="subtitle">Hai kak, isi dulu datanya</p>

    <label class="upload-label">Upload Foto Galeri:</label>
    <div class="file-upload" (drop)="onFileSelected($event, 'photo')" (dragover)="$event.preventDefault()">
      <ng-container *ngIf="imagePreviews['photo']; else defaultUpload">
        <img [src]="imagePreviews['photo']" alt="Preview Gambar" class="preview-image">
      </ng-container>
      <ng-template #defaultUpload>
        <img src="assets/upload-icon.svg" alt="upload icon" class="upload-icon" />
        <p class="upload-text">Drag and drop files here <br> or</p>
        <button class="upload-button" type="button" (click)="browseFiles()">Browse Files</button>
      </ng-template>
      <input type="file" #fileInput hidden (change)="onFileSelected($event, 'photo')" accept="image/*">
    </div>

    <div class="form-check">
      <input type="checkbox" id="status" formControlName="status">
      <label for="status">Jangan Aktifkan Fitur ini</label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn-back" type="button" (click)="closeModal()">Kembali</button>
    <button class="btn-next" type="button" (click)="onSubmitModal()">Lanjut</button>
  </div>
</form>
