
<div class="rc-container" [formGroup]="form">
  <!-- Looping Cerita -->
  <div *ngIf="form && stories" formArrayName="stories">
    <div *ngFor="let story of stories.controls; let i = index" [formGroupName]="i" class="rc-card">
      <div class="rc-card-header">
        <h5 class="rc-card-title">Cerita #{{ i + 1 }}</h5>
        <button *ngIf="stories.length > 1" class="rc-btn-remove" (click)="removeStory(i)" title="Hapus Cerita">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
      <div class="rc-card-body">
        <div class="rc-form-group">
          <label>Tanggal</label>
          <input type="text" class="rc-form-control" [bsConfig]="bsConfig" bsDatepicker placeholder="Pilih tanggal"
            formControlName="tanggal_cerita">
        </div>
        <div class="rc-form-group">
          <label>Judul</label>
          <input type="text" class="rc-form-control" placeholder="Contoh: Pertama Bertemu" formControlName="title">
        </div>
        <div class="rc-form-group">
          <label>Isi Cerita</label>
          <textarea class="rc-form-control" rows="4" placeholder="Maximal 500 karakter" formControlName="lead_cerita"
            maxlength="500"></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Button Tambah Cerita -->
  <div class="rc-btn-add-wrap" *ngIf="stories.length < 2">
    <button class="rc-btn rc-btn-add" (click)="addStory()">Tambah Cerita</button>
  </div>

  <!-- Checkbox -->
  <div class="rc-form-switch">
    <input class="rc-switch-input" type="checkbox" formControlName="status" id="status">
    <label class="rc-switch-label" for="status">
      Aktifkan Cerita Ini
    </label>
  </div>

  <!-- Footer Buttons -->
  <div class="rc-btn-group">
    <button class="rc-btn rc-btn-back" (click)="prev.emit()">Kembali</button>
    <button class="rc-btn rc-btn-next" (click)="submit()">Lanjut</button>
  </div>
</div>
