.section {
  background: #FFFFFF;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 100vh; /* Ensure full viewport height */
}

@keyframes fadeIn {
  0% {
      opacity: 0; /* Start completely transparent */
  }
  100% {
      opacity: 1; /* End fully visible */
  }
}
.wc__footer-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 7.0625rem;
  justify-content: center;
  align-items: center;
  h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 30rem;
    text-align: center;
  }
  b {
    color: black;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 30rem;
    text-align: center;
  }
}

html, body {
  // background-color: lightgray;
  height: 100%;
  width: 100vw;
}

.container {
  width: 100%;
  padding: 1rem;
  background-color: inherit;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.feature {
  display: grid;
  padding: 1rem;
  // grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 0.5rem;
  min-height: 26rem;
}

.item {
  margin: 0.5rem;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  background-size: contain; /* Ensure the entire image is visible without cropping */
  background-repeat: no-repeat;
  background-position: center;
}

.item--1 { background-image: url('../../../assets/videotmp1.svg'); }
.item--2 { background-image: url('../../../assets/videotmp2.svg'); }
.item--3 { background-image: url('../../../assets/videotmp3.svg'); }
.item--4 { background-image: url('../../../assets/videotmp4.svg'); }

.item:hover {
  background-color: lightgray;
  color: gray;
  transform: translate(0,-0.3rem);
  box-shadow: 0 1rem 4rem rgba(0,0,0,.50);
}
