<div class="event-settings">
  <h2>Pengaturan Acara</h2>

  <!-- Static Event Dropdown -->
  <div class="event-form" [formGroup]="staticEventForm">
    <div class="form-group">
      <label for="selectedEvent">Sebagai countdown acara</label>
      <ngx-select
        id="selectedEvent"
        [items]="events"
        [optionTextField]="'name'"
        [optionValueField]="'name'"
        placeholder="Pilih acara"
        formControlName="selectedEvent"
      >
      </ngx-select>
      <div *ngIf="staticEventForm.get('selectedEvent')?.invalid && staticEventForm.get('selectedEvent')?.touched" class="error-message">
        Harap pilih salah satu acara.
      </div>
    </div>
    <button type="button" class="btn-save" (click)="submitStaticEventForm()">Simpan</button>
  </div>

  <!-- Dynamic Forms for Events -->
  <div class="event-forms" [formGroup]="dynamicEventForm">
    <div
      *ngFor="let event of dynamicEvents.controls; let i = index"
      class="event-form"
      [formGroupName]="i"
    >
      <h3>Acara #{{ i + 1 }}</h3>
      
      <!-- Dynamic Event Form -->
      <div class="form-group">
        <label for="eventName{{ i }}">Nama Acara</label>
        <input
          id="eventName{{ i }}"
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Contoh: Pernikahan Andra dan Mega"
        />
        <div *ngIf="event.get('name')?.invalid && event.get('name')?.touched" class="error-message">
          Nama acara wajib diisi.
        </div>
      </div>

      <div class="form-group">
        <label for="eventDate{{ i }}">Tanggal</label>
        <input
          id="eventDate{{ i }}"
          type="text"
          class="form-control"
          bsDatepicker
          #dp="bsDatepicker"
          formControlName="date"
          [bsConfig]="bsConfig"
          placeholder="yyyy-mm-dd"
        />
        <div *ngIf="event.get('date')?.invalid && event.get('date')?.touched" class="error-message">
          Tanggal wajib diisi.
        </div>
      </div>

      <div class="form-group time-group">
        <div class="time-input">
          <label for="startTime{{ i }}">Waktu Mulai</label>
          <input
            id="startTime{{ i }}"
            type="time"
            class="form-control"
            formControlName="startTime"
          />
          <div *ngIf="event.get('startTime')?.invalid && event.get('startTime')?.touched" class="error-message">
            Waktu mulai wajib diisi.
          </div>
        </div>
        <div class="time-input">
          <label for="endTime{{ i }}">Waktu Selesai</label>
          <input
            id="endTime{{ i }}"
            type="time"
            class="form-control"
            formControlName="endTime"
          />
          <div *ngIf="event.get('endTime')?.invalid && event.get('endTime')?.touched" class="error-message">
            Waktu selesai wajib diisi.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="location{{ i }}">Alamat</label>
        <input
          id="location{{ i }}"
          type="text"
          class="form-control"
          formControlName="location"
          placeholder="Alamat"
        />
        <div *ngIf="event.get('location')?.invalid && event.get('location')?.touched" class="error-message">
          Alamat wajib diisi.
        </div>
      </div>

      <div class="form-group">
        <label for="mapLink{{ i }}">Google Maps</label>
        <input
          id="mapLink{{ i }}"
          type="text"
          class="form-control"
          formControlName="mapLink"
          placeholder="URL Google Maps"
        />
        <div *ngIf="event.get('mapLink')?.invalid && event.get('mapLink')?.touched" class="error-message">
          Link Google Maps wajib diisi.
        </div>
      </div>

      <!-- Add and Delete Buttons -->
      <div class="buttons">
        <button
          type="button"
          class="btn-add"
          *ngIf="dynamicEvents.length === i + 1"
          (click)="addDynamicEvent()"
        >
          <i class="fa fa-plus"></i> Tambah Acara
        </button>
        <button
          type="button"
          class="btn-delete"
          *ngIf="dynamicEvents.length > 1"
          (click)="deleteDynamicEvent(i)"
        >
          <i class="fa fa-trash"></i> Hapus Acara
        </button>
      </div>
    </div>
  </div>

  <button type="button" class="btn-save" (click)="submitDynamicEventForm()">Simpan Semua Acara</button>
</div>
