<div class="main-container">
  <!-- Section: Data Mempelai Wanita -->
  <div class="section" [formGroup]="coverPhotoForm">
    <h3 class="title">Cover Data Mempelai</h3>
    <div class="photo-upload">
      <!-- Photo placeholder for bride -->
      <div 
        class="photo-placeholder" 
        [ngStyle]="{ 'background-image': 'url(' + coverPhotoPreview + ')' }"
      ></div>
      <!-- Custom upload button -->
      <label class="upload-button btn btn-pink">
        Unggah Foto
        <input 
          type="file" 
          accept="image/*" 
          (change)="handlePhotoUpload($event, 'cover_photo')" 
          hidden 
        />
      </label>
    </div>
    <div class="form-group">
      <label for="order">Urutan Mempelai</label>
      <ngx-select
        [items]="events"
        [optionTextField]="'name'"
        [optionValueField]="'id'"
        placeholder="Pilih acara"
        formControlName="urutan_mempelai"
        (change)="onEventSelect($event)"
      ></ngx-select>
    </div>
    <ng-container *ngIf="data; else coverSubmit">
      <button class="btn btn-primary mt-3" (click)="onCoverUpdate(data)">Update cover</button>
    </ng-container>

    <ng-template #coverSubmit>
      <button class="btn btn-primary mt-3" (click)="onClickCover()">Simpan cover</button>
    </ng-template>
  </div>

  <!-- Dual Section Form -->
  <div class="dual-section row" [formGroup]="dualSectionForm">
    <!-- Data Mempelai Pria -->
    <div class="form-section col-md-6">
      <h3 class="title">Data Mempelai Pria</h3>
      <div class="photo-upload">
        <div 
          class="photo-placeholder" 
          [ngStyle]="{ 'background-image': 'url(' + groomPhotoPreview + ')' }"
        ></div>
        <label class="upload-button btn btn-pink">
          Unggah Foto
          <input 
            type="file" 
            accept="image/*" 
            (change)="handlePhotoUpload($event, 'photo_pria')" 
            hidden 
          />
        </label>
      </div>
      <div class="form-group">
        <label>Nama Lengkap</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama lengkap" 
          formControlName="name_lengkap_pria" 
        />
      </div>
      <div class="form-group">
        <label>Nama Panggilan</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama panggilan" 
          formControlName="name_panggilan_pria" 
        />
      </div>
      <div class="form-group">
        <label>Nama Ayah</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama ayah" 
          formControlName="ayah_pria" 
        />
      </div>
      <div class="form-group">
        <label>Nama Ibu</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama ibu" 
          formControlName="ibu_pria" 
        />
      </div>
    </div>

    <!-- Data Mempelai Wanita -->
    <div class="form-section col-md-6">
      <h3 class="title">Data Mempelai Wanita</h3>
      <div class="photo-upload">
        <div 
          class="photo-placeholder" 
          [ngStyle]="{ 'background-image': 'url(' + bridePhotoPreview + ')' }"
        ></div>
        <label class="upload-button btn btn-pink">
          Unggah Foto
          <input 
            type="file" 
            accept="image/*" 
            (change)="handlePhotoUpload($event, 'photo_wanita')" 
            hidden 
          />
        </label>
      </div>
      <div class="form-group">
        <label>Nama Lengkap</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama lengkap" 
          formControlName="name_lengkap_wanita" 
        />
      </div>
      <div class="form-group">
        <label>Nama Panggilan</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama panggilan" 
          formControlName="name_panggilan_wanita" 
        />
      </div>
      <div class="form-group">
        <label>Nama Ayah</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama ayah" 
          formControlName="ayah_wanita" 
        />
      </div>
      <div class="form-group">
        <label>Nama Ibu</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Masukkan nama ibu" 
          formControlName="ibu_wanita" 
        />
      </div>
    </div>
  </div>

  <ng-container *ngIf="data; else mempelaiSubmit">
    <button class="btn btn-primary mt-3" (click)="onMempelaiUpdate(data)">Simpan semua data mempelai</button>
  </ng-container>

  <ng-template #mempelaiSubmit>
    <button class="btn btn-primary mt-3" (click)="onClickDataMempelai()">Simpan semua data mempelai</button>
  </ng-template>
</div>