.testimonials {
    padding: 6rem 0;
    text-align: center;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial-cards::after {
    content: '';
    grid-column: span 1;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    opacity: 0; /* Start hidden for animation */
    transform: translateY(20px); /* Start slightly below */
    animation: fadeInUp 0.5s forwards; /* Animation to fade in and slide up */
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.rating {
    color: gold;
    font-size: 18px;
}

@media screen and (max-width: 550px) {
    .h2 {
        font-size: 28px;
        font-weight: 500;
        line-height: 61.97px;
        text-align: center;

    }
    .testimonial-cards {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    .card h3 {
        font-size: 16px;
    }
    
    .card p {
        font-size: 12px;
    }

    .rating {
        font-size: 16px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
