<div class="section">
    <div class="row">
        <div class="wc__footer-hero">
            <h2 style="color: #FF84AD; padding-bottom: 10px;">
                <b>Undangan</b> video
            </h2>
            <!-- <img src="../../../assets/love-border.svg" alt=""> -->
        </div>
    </div>
    <div class="container">
        <div class="feature">
            <div class="item item--1">box1</div>
            <div class="item item--2">box2</div>
            <div class="item item--3">box3</div>
            <div class="item item--5">box5</div>
            <div class="item item--4">box4</div>
            <div class="item item--6">box6</div>
        </div>
    </div>
</div>