<div class="main-container">
  <!-- Cerita Section -->
  <div class="form-container">
    <div
      style="padding-bottom: 10px;"
      class="form-card-container"
      *ngFor="let cerita of ceritaFormArray.controls; let i = index"
    >
      <div class="form-card">
        <div class="form-card-header">
          <h2>Tambah Cerita</h2>
          <button
            type="button"
            class="btn"
            [ngClass]="{ 'btn-primary': i === 0, 'btn-danger': i !== 0 }"
            (click)="i === 0 ? addCerita() : removeCerita(i)"
            [attr.aria-label]="i === 0 ? 'Add Cerita' : 'Remove Cerita'"
          >
            <i class="fa" [ngClass]="{ 'fa-plus': i === 0, 'fa-trash': i !== 0 }"></i>
          </button>
        </div>
        <form [formGroup]="getCeritaFormGroup(i)">
          <div class="form-group">
            <label for="tanggal-{{ i }}">Tanggal</label>
            <div class="d-flex align-items-center">
              <input
                type="text"
                id="tanggal-{{ i }}"
                class="form-control"
                placeholder="dd/mm/yyyy"
                formControlName="tanggal"
                [bsConfig]="bsConfig"
                bsDatepicker
                (bsValueChange)="onDateChange($event, i)"
              />&nbsp;
              <span class="ms-2">📅</span>
            </div>
            <div
              *ngIf="
                getCeritaFormGroup(i).get('tanggal')?.invalid &&
                getCeritaFormGroup(i).get('tanggal')?.touched
              "
              class="text-danger"
            >
              Tanggal is required.
            </div>
          </div>

          <div class="form-group">
            <label for="judul-{{ i }}">Judul</label>
            <input
              type="text"
              id="judul-{{ i }}"
              placeholder="Tuliskan judul cerita kamu..."
              formControlName="judul"
            />
            <div
              *ngIf="
                getCeritaFormGroup(i).get('judul')?.invalid &&
                getCeritaFormGroup(i).get('judul')?.touched
              "
              class="text-danger"
            >
              Judul is required.
            </div>
          </div>

          <div class="form-group">
            <label for="isiCerita-{{ i }}">Isi Cerita</label>
            <textarea
              id="isiCerita-{{ i }}"
              rows="4"
              placeholder="Maks 500 karakter"
              formControlName="isiCerita"
            ></textarea>
            <div
              *ngIf="
                getCeritaFormGroup(i).get('isiCerita')?.invalid &&
                getCeritaFormGroup(i).get('isiCerita')?.touched
              "
              class="text-danger"
            >
              Isi Cerita is required.
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="text-right">
      <button
        type="button"
        class="btn"
        (click)="onSubmitCerita()"
        [disabled]="ceritaForm.invalid"
        style="background: #4bd0f1; color: white;"
      >
        Simpan Cerita
      </button>
    </div>
  </div>

  <!-- Quote Section -->
  <div class="form-container">
    <div class="form-card">
      <div class="form-card-header">
        <h2>Quote Pernikahan</h2>
      </div>
      <form [formGroup]="quoteForm">
        <div class="form-group">
          <label for="namaSumber">Nama Sumber</label>
          <input
            type="text"
            id="namaSumber"
            class="form-control"
            placeholder="Isi nama yang punya quote"
            formControlName="name"
          />
          <div
            *ngIf="
              quoteForm.get('name')?.invalid &&
              quoteForm.get('name')?.touched
            "
            class="text-danger"
          >
            Nama Sumber is required.
          </div>
        </div>

        <div class="form-group">
          <label for="quote">Quote</label>
          <textarea
            id="quote"
            class="form-control"
            rows="3"
            placeholder="Tulis quotenya..."
            formControlName="quote"
          ></textarea>
          <div
            *ngIf="
              quoteForm.get('quote')?.invalid &&
              quoteForm.get('quote')?.touched
            "
            class="text-danger"
          >
            Quote is required.
          </div>
        </div>

        <div class="text-right">
          <button
            type="button"
            class="btn"
            (click)="onSubmitQuote()"
            [disabled]="quoteForm.invalid"
            style="background: #4bd0f1; color: white;"
          >
            Simpan Quote
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
